.callback__button {
  display: inline-block;
  padding: 15px 45px;
  color: $menu-text;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid $menu-text;
  border-radius: 25px;
}
