.main-features {
  padding-top: 72px;
  margin: 0;
  padding-left: 27px;
  overflow: hidden;
}

.features {
  background-image: url("../img/features/background-first.png"), url("../img/features/background-second.png"), url("../img/features/background.png");
  background-repeat: no-repeat;
  background-position: left top, left bottom, left top;
}

.features__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 35px;
  color: $menu-text;
}

.features__container {
  margin-top: 43px;
  // padding-bottom: 162px;
  display: flex;
}

.features__list {
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  gap: 15px;
}

.features__item {
  height: 230px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 2px 4px 13px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.features__img {
  display: block;
  padding: 23px 0 0;
  margin-left: auto;
  margin-right: auto;
}

.features__title--little {
  padding-left: 15px;
  padding-right: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: $black-color;
  text-align: center;
}

.features__descrube {
  margin: 0;
  padding: 11px 14px 30px;
  font-family: $montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.features__pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 127px;
  padding-bottom: 92px;
}

.features__pagination-button {
  padding: 0;
  margin: 0;
  border: none;
  width: 20px;
  height: 40px;
  cursor: pointer;
}

.features__pagination-prev {
  background: no-repeat url("../img/features/arrow.svg");
}

.features__pagination-next {
  background: no-repeat url("../img/features/arrow.svg");
  transform: rotate(180deg);
}

.features__vk {
  padding-top: 112px;
}

.features__vk-title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}

.features__vk-paragraph {
  padding: 0;
  margin: 0;
  margin-bottom: 112px;
  font-family: $montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.6);
}

.features__vk-link {
  display: block;
  padding: 23px 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 40px;
  margin-right: 32px;
  margin-bottom: 145px;
}
