.main-offers__title {
  margin: 0;
  margin-bottom: 32px;
}

.main-offers__form-houses {
  margin-bottom: 35px;
}

.main-offers__link {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 133px;
}
