// Viewports

$large-width: 1440px;
$medium-width: 768px;
$small-width-only: 767px;

//colors

$white-color: #ffffff;
$background: #e5e5e5;
$menu-text: #212864;
$green-btn: #68b738;
$hover-btn: #5eaa2f;
$black-color: #000000;
$grey-text: #444444;
$error: #ff8282;
$light-border: #cdcdcd;
$light-hover-border: #bababa;
$grey-line: #e6e6e6;
$loadmore-btn: #f2f2f2;
$title-color: #222222;
$range-color: #666666;

// resolution
$retina-resolution: 2dppx;


// fonts
$inter: "Inter", "Arial", sans-serif;
$montserrat: "Montserrat", "Arial", sans-serif;
